.notify {
  z-index: 99999999;
  .notification {
    position: fixed;
    top: 5px;
    z-index: 999999999999;
    padding: 10px;
    .notification-title {
      color: white;
      font-size: 18px;
      font-weight: 600;
    }
    .notification-description {
      color: white;
      font-weight: 400;
      font-size: 15px;
      margin-top: 5px;
    }
  }
}